/*
    项目负责人：赵强
    项目创建日期:2018.4.17
    最新更新:2018.4.17
    修改人员:赵强
    修改日期:
    修改原因:
    修改代码行数区间:
*/
header{ height: 80px; background: #000; color:#fff;}
header h1 img{ vertical-align: -25px;}
header h1 span{ font-size: 40px; font-weight: 400; letter-spacing: 22px; margin-left: 35px;}
header .center div{ line-height: 80px; font-size: 18px;}

/* 内容 */
.main{background: url(../images/mainBg.jpg) no-repeat; background-size: 100% 100%; padding-top: 60px;}
/* 选项卡 */
#news{ width: 500px; height: 475px; margin: 0 auto; box-shadow: 0 2px 5px #777, 0 -2px 5px #777,2px 0 5px #777, -2px 0 5px #777;}
.tabs:after{content:"\20"; clear:both; display: block; font-size: 0;}
.tabs{width: 100%;}
.tabs li{width: 50%; height: 70px; line-height: 70px; text-align: center; background: #4d90fe; font-size: 20px; float: left; color: #fff; cursor: pointer; font-weight: 700;box-shadow: 0 2px 4px #777;}
.tabs .on{background: #fff; text-shadow:0 1px 1px #fff; color: #000; box-shadow: none;}

.cons div{ width: 100%; height: 405px; background: #fff; text-align: center; display: none;}
.cons div p:first-child,.qiye div p:first-child{padding-top: 30px;}
.cons div p input,.qiye div p input{width: 60%; height: 50px; border-radius: 50px; padding-left: 26px; border:1px solid #ddd; margin-top: 20px;}
.cons div>form>button,.qiye div>form>button{width: 65%; height: 50px; background: #474747; border:none; border-radius:50px; color: #fff; font-size:16px; margin-top: 50px; cursor: pointer;}
.cons div h6,.qiye div h6{ color: #4d90fe; font-weight: 400; margin-top: 40px; cursor:pointer;}
.cons div h6 input,.qiye div h6 input{ width: 80px; color: #4d90fe; border:none; background: none; cursor: pointer;}
.cons div h6 span,.qiye div h6 span{ width: 40px; height: 1px; background: #aaa; display: inline-block; vertical-align: middle; margin:0 15px;}
.cons div.on{ display: block;}

/* 个人注册 */
.main .geren{width: 500px; height: 615px; background: #fff; margin:0 auto;}
.main .geren h1,.qiyeMain .qiye h1{ background: #4d90fe; text-align: center; line-height: 70px; color: #fff;}
.cons div .yzm input:first-child,.qiye div .yzm input:first-child{ width: 30%; border-top-right-radius:0; border-bottom-right-radius:0;}
.cons div .yzm button,.qiye div .yzm button{ display: inline-block; width: 30%; line-height: 52px; border-top-right-radius: 50px; border-bottom-right-radius: 50px; padding: 0; color: #fff; background: #4d90fe; border:none; vertical-align: 0px; cursor: pointer; font-size: 14px; letter-spacing: 1px;}

/* 企业注册 */
.qiyeMain{background: url(../images/mainBg.jpg) no-repeat; background-size: 100% 100%; padding-top: 40px; padding-bottom: 40px;}
.qiyeMain .qiye{width: 500px; background: #fff; margin:0 auto;text-align: center; padding-bottom: 30px;}
.qiyeMain .qiye ol{ width: 56%; margin: 20px auto 0; text-align: left; padding-left: 40px; border:1px solid #ddd; border-radius:5px; padding:20px 0 20px 40px; color: #a9a9a9;}
.qiyeMain .qiye ol h3{ margin-left: -15px; font-weight: 400; font-size: 16px;}
.qiyeMain .qiye ol li{ line-height: 25px; font-size: 13px;}
.qiyeMain .qiye .container{ margin-top: 20px;}
.qiyeMain .qiye .container input{display: none;}
.qiyeMain .qiye .container img{width: 65%; cursor: pointer;}
/* 遮挡 */
.zhedang{width: 100%; background: rgba(0,0,0,.5); position: fixed; top: 0; left: 0; display: none;}
.tishi{width: 300px; height: 130px; background: #fff; text-align: center; position: fixed; top: 30%; left: 42%; border-radius: 5px; display: none;}
.tishi p{ line-height: 30px; font-size:1.4em;}
.tishi .shouji{ line-height: 60px; font-size: 1.2em;}
.tishi button{ width: 50%; height: 30px; background: #4D90FE; border:none; color: #fff; border-radius: 5px;}


















