/*
    项目负责人：赵强
    项目创建日期:2018.4.17
    最新更新:2018.4.17
    修改人员:赵强
    修改日期:
    修改原因:
    修改代码行数区间:
*/
/* 内容 */
.main .center div.fr ul{ padding-left: 20px; padding-top: 20px; font-size: 12px; color: #000; box-sizing: border-box;}
.main .center div.fr ul li{ line-height: 30px; list-style-type:disc; margin-left: 20px; padding-left: 10px;}
.main .center div.fr button{ width: 100px; height: 40px; color: #fff; background: #4d90fe; border:none; border-radius: 5px; margin: 20px 0; margin-left: 20px; cursor: pointer;}
.main .center div.fr p a{color: #4d90fe; margin-left: 20px;}








