/*
    项目负责人：赵强
    项目创建日期:2018.4.17
    最新更新:2018.4.17
    修改人员:赵强
    修改日期:
    修改原因:
    修改代码行数区间:
*/
input[type=number]::-webkit-inner-spin-button { visibility: hidden; }

header h1 span{ font-size: 16px; margin-left: 10px;}
/* 内容 */
.main{overflow: hidden; zoom: 1;}
.main .center{ margin-top: 0px;}
.main .center h1{ line-height: 100px; font-weight: 400;}

.main .down{height: auto; margin-top: 10px; background: #fff; box-shadow: 0 3px 3px #e4e7f0,0 -3px 3px #e4e7f0,3px 0 3px #e4e7f0, -3px 0 3px #e4e7f0; padding:0 20px; overflow: hidden; zoom: 1;}
.main .down ul{ margin-top: 25px; font-size: 16px;}
.main .down li{line-height: 50px;}
.main .down li span{ display: inline-block; width: 300px; text-align: right; margin-right: 50px; color: #000; float: left;}
.main .down li span i{ font-style: normal; color: #f00;}
.main .down li em{font-weight: 700; color: #f00; font-size: 15px; font-style: normal;}
.main .down li input{width: 400px; height: 30px; border-radius: 5px; border:1px solid #ddd; padding-left: 10px; box-sizing:border-box;}
.main .down li.yzm input{ width: 250px;}
.main .down li.yzm button{width: 130px; height: 30px; border:1px solid #ddd; background: none; margin-left: 20px; border-radius: 5px; cursor: pointer}

.main .down li.container{ overflow: hidden; zoom: 1; margin: 20px 0;}
.main .down li.container input{display: none;}
.main .down li.container img{width: 41%; cursor: pointer; float: left;}
.main .down li.btn{text-align: center; margin-left: 115px; margin-bottom: 30px;}
.main .down li.btn button{ width: 400px; height: 40px; background: #2475f0; border:none; border-radius:5px; color: #fff; cursor: pointer;}
